/* Everything below this comment is required to 
make the footer stick to the bottom of the page.*/
html, body {
  height: 100%;
  background: black;
  color: white;
}

.container {
  padding-top: 2em;
  min-height: 90%;
  margin-bottom: -150px;
}

.container:after {
  content: "";
  display: block;
  height: 100px;
}

footer {
  border-top: 1px solid rgba(224, 142, 142, 0.3);
  text-align: center;
  margin-top: 4em !important;
  padding-top: 1em;
  margin-top: 1em;
}

div.center-footer {
  width: 180px;
  margin: 0 auto;
  text-align: left;
}
/* Everything above this comment is required to 
make the footer stick to the bottom of the page.*/

.top-bar a {
  text-decoration: none;
  color: inherit;
}

h2.unauth {
  margin-bottom: 2em;
}

.space-before:before {
  content: "";
  display: block;
  height: 2px;
}

.space-before-medium:before {
  content: "";
  display: block;
  height: 25px;
}

.space-before-large:before {
  content: "";
  display: block;
  height: 50px;
}

.space-after:after {
  content: "";
  display: block;
  height: 2px;
}

.space-after-medium:after {
  content: "";
  display: block;
  height: 25px;
}

.space-after-large:after {
  content: "";
  display: block;
  height: 50px;
}

a:hover {
  color: white;
  text-decoration: none;
}

.no-display {
  display: none;
}

.block-display {
  display: block;
}